# Python virtual environment
backend/venv/
.env
.env.local

__pycache__/
*.py[cod]

# Ignore uploaded profile pictures
#backend/app/static/profile_photos/
#backend/app/static/cv_uploads/
#backend/app/static/schedule_uploads/
venv/
